<div class="title-group">
    <h2 class="management-title"> Buscar Comprador </h2>
</div>

<form>
    <div class="form-group">
      <label for="nif">NIF</label>
      <input matInput id="nif" [(ngModel)]="nif" name="nif" required />
    </div>
  
    <div class="form-group">
      <label for="nombre">Nombre</label>
      <input matInput id="nombre" [(ngModel)]="nombre" name="nombre" required />
    </div>
  
    <div class="form-group">
      <label for="primerApellido">Primer Apellido</label>
      <input matInput id="primerApellido"  [(ngModel)]="primerApellido" name="primerApellido" required />
    </div>
  
    <div class="form-group">
      <label for="segundoApellido">Segundo Apellido</label>
      <input matInput id="segundoApellido" [(ngModel)]="segundoApellido" name="segundoApellido" required />
    </div>
  
    <div class="form-group">
      <label for="dce">DCE</label>
      <input matInput id="dce" [(ngModel)]="dce" name="dce" required />
    </div>

    <div class="form-group">
        <label>Inhabilitado</label>
        <mat-radio-group >
            <mat-radio-button value="1">SI</mat-radio-button>
            <mat-radio-button value="0">NO</mat-radio-button>
        </mat-radio-group>
      </div>

    
</form>

<div class="footer">
    <button mat-raised-button color="primary" [routerLink]="">Buscar Comprador</button>
</div>