@import 'src/styles/base/_variables.scss';

table {
    width: 100%;
}

.custom-header {
    color: $color-blue-principado-700;
  }
 
  .footer {
    margin-top: 20px;
    text-align: left;
  }

.mat-icon{
    color: $color-blue-principado-700;
}